.search-results {
    background: #e4f0f5;;
    border-left: 5px solid #3d7e9a;
    padding: 5px;
}

.search-results h3 {
    color: #3d7e9a;
    border-bottom: 1px solid #fff;
}

.search-results table {
    width: 100%;
    text-align: left;
}

.search-results table th {
     width: 20%;
}

.search-results ul {
    padding: 0;
    list-style-type: none;
}